div(class="infotext-reg")
  h3 Для того, чтобы Дед Мороз знал кого благодарить за помощь - необходимо зарегистрироваться...
  h3 Если ты уже зарегистрирован - используй свой логин и пароль для входа...
div(class="row")
  div(class="col col-sm-5 reg-form fontree")
    h2 Регистрация
    form
      div(class="form-group row")
        label(for="inputNamer" class="col-sm-4 col-form-label") Назови свое имя
        div(class="col-sm-8")
          input(type="text" class="form-control" id="inputNamer" placeholder="Имя" required)
      div(class="form-group row")
        label(for="inputLoginr" class="col-sm-4 col-form-label") Придумай логин
        div(class="col-sm-8")
          input(type="email" aria-describedby="emailHelp" class="form-control" id="inputLoginr" placeholder="Логин" required)
      div(class="form-group row")
        label(for="inputPasswordr" class="col-sm-4 col-form-label") Придумай пароль
        div(class="col-sm-8")
          input(type="password" class="form-control" id="inputPasswordr" placeholder="Пароль" required)
    div(class="form-group row")
      div(class="col-sm-10")
        button(type="submit" class="btn btn-primary" id ="registerButton") Готово
  div(class="col col-sm-5 enter-form fontree")
    h2 Вход
    form(action="")
      div(class="form-group row")
        label(for="inputLogine" class="col-sm-4 col-form-label") Вспомни логин
        div(class="col-sm-8")
          input(type="text" class="form-control" id="inputLogine" placeholder="Логин")
      div(class="form-group row")
        label(for="inputPassworde" class="col-sm-4 col-form-label") Вспомни  пароль
        div(class="col-sm-8")
          input(type="password" class="form-control" id="inputPassworde" placeholder="Пароль")
      div(class="form-group row")
        label( class="col-sm-5 col-form-label") ------
    div(class="form-group row")
      div(class="col-sm-10")
        button(type="submit" class="btn btn-primary" id="inputButton") Готово
div(id="msgBox" class="modal fade" tabindex="-1" role="dialog" data-backdrop='static')


  