.message-warning {
  font-family: 'Mirabella', Arial, Helvetica, sans-serif;
  font-size: 2em;
  background: url(./images/paper1.png);
  background-size: 100% 100%;
  border: none;
  padding: 20px;  

}


