
.game {
  max-width: 1400px;
  margin: 20px auto; 

  h1, p {
    font-family: 'Mirabella', Arial, Helvetica, sans-serif;
    text-align: center;     
  }  

  .wrapper {
    position: relative;
    background-image: url('./images/fon.jpg');
    background-size: 1400px auto;
    background-repeat: no-repeat;
    padding-top: 200px;                
       
    .santa-sprite {      
      position: absolute;
      top: 80px;
      left: 0;             
    }

    .monster-sprite {
      position: absolute;
      top: 20px;
      left: 580px;        
    }
      
  }

  img.gametree {
    filter: drop-shadow(8px 8px 5px #222);  
  } 

  .user-progress {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 500px;    
  }

  .monster-progress {
    position: absolute;
    top: 30px;
    left: 530px;
    width: 500px;        
  }

  .specEffectSanta {
    position: absolute;
    top: 210px;
    left: 40px;
    width: 400px;
    z-index: 5;
  }
  .specEffectMonster {
    position: absolute;
    top: 180px;
    left: 600px;
    width: 500px;
    z-index: 6;
  }
}

.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}
