div(class="modal-dialog modal-dialog-centered modal-lg warning " role="document")
  div(class="modal-content message-warning")
    div(class="modal-header")
      h5(class="modal-title") !{ title }     
    div(class="modal-body")
      block body 
