@font-face {
  font-family: 'Mirabella';
  src: url('./fonts/Mirabella.ttf.ttf') format('truetype');
  
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Bold.ttf') format('truetype');
  
}
